<div class="row">
	<div class="col-sm-6 col-md-4 login-box shadow-2" >
		<form>
				<div class="row login-box">
					<div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="groups">
              <ul>
                {{#each model as |group|}}
                  <li>{{group.name}}</li>
                {{/each}}
              </ul>
            </div>

            {{#if auth.isLoggedIn}}
              <div class="actions">
                <div>
                  <button {{action 'startgroup'}}>
                    Join Group
                  </button>
                </div>
              </div>
            {{/if}}
					</div>
				</div>

		</form>
	</div>
</div>
