<div class="row">
	<div class="col-sm-6 col-md-4 login-box shadow-2" >
		<form>
				<div class="row login-box">
					<div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="playerinfo">
                <h1>{{model.name}}</h1>
                <p>Age: {{model.age}}<br>
                Experience: {{model.experience}}<br>
                Desired Level of Play: {{model.level}}</p>
            </div>
					</div>
				</div>

		</form>
	</div>
</div>
