<div class="row">
	<div class="col-sm-6 col-md-4 login-box shadow-2" >
		<form>
				<div class="row login-box">
					<div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="groups">
              {{#each arrayOFgroup as |group|}}
                <div class="group">
                  {{group}}
                </div>
              {{/each}}
            </div>

            <div class="actions">
              <div>
                <button {{action 'startgroup'}}>
                  Create Group
                </button>
              </div>
            </div>
					</div>
				</div>

		</form>
	</div>
</div>
